.App {

}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 50px;
}

.todoList-task.done {
  opacity: 0.5;
}
.filter-active{

  background-color: lawngreen;
}
.error{
  bloder-color : red;
}